* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

section {
    padding: 30px 0;
}

ul {
    padding: 30px 0;
}

li {
    list-style: none;
    line-height: 40px;
}

a {
    padding: 1rem;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 4rem;
}

h2,
h3,
h4 {
    line-height: 60px;
    padding: 10px 0;
}

hr {

}
.logo {
    padding: 1rem;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 980px;
}

.container-nav {
    display: flex;
    align-items: center;
}

.container-main {
    max-width: 980px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    gap: 20px;
}

.container-main .button {
    display: inline-block
}

.button, .button-nav {
    background-color: rgb(0, 96, 249);
    padding: 10px;
    margin: 30px 0;
    color: white;
    text-align: center;
}

.button-transparent {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    color: black;
    text-align: center;
    display: inline-block;
}

.box .button {
    margin: 20px 0px;
}

.hero {
    background-color: rgb(170, 203, 227);
    text-align: center;
    padding: 10px;
}

.box {
    width: 327px;
    text-align: left;
    line-height: 25px;
}

.box p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.box i {
    font-size: 2rem;
}

.box-image {
    position: relative;
    flex-grow: 1;
}

.image-section-hero {
    position: absolute;
    width: 800px;
    padding-top: 30px;
}

.img-fit {
    width: 100%;
    padding: 10px 30px;
    object-fit: cover;
}

.img-partner {
    width: 100%;
    object-fit: contain;
    padding: 20px;
}

.column {
    width: 300px;
    text-align: left;
    line-height: 25px;
    border: 1px solid rgb(202, 203, 206);
    position: relative;
    padding: 40px;
}

.row {
    width: 300px;
    border: 1px solid rgb(202, 203, 206);
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.row-orizontal {
    width: 960px;
    border: 1px solid rgb(202, 203, 206);
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
}

.box-orizontal {
    width: 980px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid rgb(202, 203, 206);
    padding: 30px;
    position: relative;
}

.section-text {
    width: 980px;
    margin: 0 auto;
    text-align: left;
}

.section-square {
    display: flex;
    padding: 80px 0;
}

.img-square {
    width: 50%;
    color: white;
    position: absolute;
    top: 100px;
    left: 50px;
}

.img-box-square {
    width: 30%;
    object-fit: contain;
}

.box-square {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(244, 244, 244);
}

.square {
    width: 250px;
    height: 250px;
    position: relative;
}

.green {
    background-color: rgb(151, 204, 150);
    border: 7px solid rgb(203, 229, 201);
}

.bordeaux {
    background-color: rgb(90, 16, 39);
}

.light-blue {
    background-color: rgb(0, 139, 197);
}

.red {
    background-color: rgb(255, 37, 30) ;
}

.dark-red {
    background-color: rgb(214, 20, 31);
}

.sky {
    background-color: rgb(170, 203, 227) ;
}

.blue {
    background-color: rgb(0, 38, 117) ;
}

.senape {
    background-color: rgb(255, 209, 65);
}